.pokemon-list {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .pokemon-list h2 {
    text-align: center;
    color: #333;
  }
  
  .pokemon-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .pokemon-list li {
    margin-bottom: 10px;
  }
  
  .pokemon-list li a {
    text-decoration: none;
    color: #007bff; /* Blue color */
  }
  
  .pokemon-list li a:hover {
    text-decoration: underline;
  }


  .navigation-tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }